/* =============== */
/* BASIC SETUP */
/* =============== */

body {
    font-family: "Oxygen", sans-serif;
    margin: 0;
    padding: 0;
}

.topbarsection {
    display: flex;
    /* height: 90px; */
    margin: 20px 0;
}

.logo {
    width: 50%;
    text-align: center;
}

.social-icon {
    width: 50%;
    text-align: center;
}

.navbar {
    background-color: #252525;
    display: flex;
}
.navbar-left {
    width: 50%;
    margin-left: 260px;
}
.navbar-right {
    width: 40%;
    margin-left: 19%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #252525; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 25px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 5px solid #cec7c1;
}

.container {
    margin-left: 280px;
    margin-top: 35px;
}

.line {
    width: 60px;
    text-align: left;
    margin-left: 0;
    margin-top: 18px;
}

.product {
    margin-top: 40px;
    display: flex;
}

left-img {
    width: 40%;
}

.right-part {
    width: 60%;
    margin-left: 20px;
}

.product-img {
    height: 600px;
    width: 380px;
}

h2 {
    margin-top: -8px;
}

.checked {
    fill-opacity: 1;
    color: #77645e;
}

.text-size {
    font-size: 40px;
}

.color-box {
    display: flex;
    /* padding: 10px; */
}
.first-color {
    border: 1px solid #111;
    height: 40px;
    width: 40px;
    margin-left: 25px;
}

.other-color {
    height: 40px;
    width: 40px;
    background-color: #e6eef1;
    margin-left: 25px;
}

.size-box {
    display: flex;
}

.box {
    border: 1px solid #cec7c1;
    font-size: 30px;
    padding: 5px 25px;
    margin: 10px;
}

.cart-button {
    background-color: #77645e;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 120px;
    margin: 15px;
    margin-left: 0;
    font-size: 20px;
    color: white;
}

.fas {
    margin-right: 10px;
}

.btn {
    display: flex;
}

.wishlist {
    color: #77645e;
    margin-top: 10px;
    margin-left: 30px;
}

.sku-cat-tag {
    display: flex;
}

.icon-box {
    display: flex;
}

.icon{
    /* border: 1px solid #cec7c1; */
    /* font-size: 30px; */
    padding: 5px 45px;
    padding-left: 0;
    /* margin: 10px; */
}

.prev-box {
    display: flex;
    margin-top: 20px;
}

.prev {
    height: 100px;
    width: 85px;
    padding-left: 10px;
}

